<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <h1>Buy a T-shirt</h1>
    <button id="checkout-button">Checkout</button>

    <script type="text/javascript">
        var stripe = Stripe('pk_test_51PirhhE51PBQdkHiUyUfdnfKmAIXgjGh87uTBHwiBd74bYSg0ClmYFOH6wm4dbgGMA4HLELIuRIXMbhJDIKun9QN00ywfCKE5L');

        var checkoutButton = document.getElementById('checkout-button');

        checkoutButton.addEventListener('click', function () {
            fetch('/create-checkout-session', {
                method: 'POST',
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (sessionId) {
                return stripe.redirectToCheckout({ sessionId: sessionId.id });
            })
            .then(function (result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
